<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327810721125-v8peg5tpmfdft90j7e4rucaj4clrv3ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327810721125-v8peg5tpmfdft90j7e4rucaj4clrv3ak</string>
	<key>API_KEY</key>
	<string>AIzaSyBlgS9aJLefDL3-NoK9MOXZV2sc_TVvVho</string>
	<key>GCM_SENDER_ID</key>
	<string>327810721125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estatjapan</string>
	<key>PROJECT_ID</key>
	<string>estatjapan-e3be3</string>
	<key>STORAGE_BUCKET</key>
	<string>estatjapan-e3be3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327810721125:ios:6c91c3a4197241fdf3ad8c</string>
    <key>ADMOB_APP_ID</key>
    <string>ca-app-pub-6766831133184942~3038724788</string>
</dict>
</plist>
