<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569212364150-ugocfgvoi2esplaqkbh67h4nhgkus3q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569212364150-ugocfgvoi2esplaqkbh67h4nhgkus3q9</string>
	<key>API_KEY</key>
	<string>AIzaSyBoWTFuLlwUaaFSjduzcGpWz1Zx1xx4Ras</string>
	<key>GCM_SENDER_ID</key>
	<string>569212364150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estatjapan</string>
	<key>PROJECT_ID</key>
	<string>estatjapan-4a8ac</string>
	<key>STORAGE_BUCKET</key>
	<string>estatjapan-4a8ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569212364150:ios:61e43ce6802185d3a70657</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2960563678064187~1331113256</string>
</dict>
</plist>